name: Lint and Build
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-lint:
    uses: GEWIS/actions/.github/workflows/lint-and-build-npm.yml@v1
    with:
      node-version: '22.x'
      format: true
